## 학습목표
 1. Series 함수 활용하여 데이터 분석하기

In [1]:
import numpy as np
import pandas as pd

#### **Series size, shape, unique, count, value_counts 함수**
 - size : 개수 반환
 - shape : 튜플형태로 shape반환
 - unique: 유일한 값만 ndarray로 반환
 - count : NaN을 제외한 개수를 반환
 - mean: NaN을 제외한 평균 
 - value_counts: NaN을 제외하고 각 값들의 빈도를 반환

In [3]:
pd.Series([1, 2, 3, 4, 5, 1, 2,2, 3,4, np.NaN]) # 1차원으로 생성

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     1.0
6     2.0
7     2.0
8     3.0
9     4.0
10    NaN
dtype: float64

In [4]:
s = pd.Series([1, 2, 3, 4, 5, 1, 2,2, 3,4, np.NaN])
len(s)

11

In [5]:
s.size

11

In [6]:
s.shape

(11,)

In [8]:
s.unique()

array([ 1.,  2.,  3.,  4.,  5., nan])

In [9]:
s.count()

10

In [11]:
a = np.array([2, 2, 2, 2, np.NaN])
a.mean() # nan이 있으면 출력이 잘 안됨

nan

In [15]:
b = pd.Series(a)
b.mean() # series에선 출력이 됨

2.0

In [16]:
s.mean()

2.7

In [17]:
s.value_counts()

2.0    3
4.0    2
3.0    2
1.0    2
5.0    1
dtype: int64

index를 활용하여 멀티플한 값에 접근

In [21]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     1.0
6     2.0
7     2.0
8     3.0
9     4.0
10    NaN
dtype: float64

In [20]:
s[[5,7,8,10]].value_counts()

3.0    1
2.0    1
1.0    1
dtype: int64

#### **head, tail 함수**
 - head : 상위 n개 출력 기본 5개
 - tail : 하위 n개 출력 기본 5개

In [22]:
s.head(n = 7)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    1.0
6    2.0
dtype: float64

In [23]:
s.tail()

6     2.0
7     2.0
8     3.0
9     4.0
10    NaN
dtype: float64